@import url(reset.css);
/* ========================== */
body {
    font-family: sans-serif;
}
/* ========================== */

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* ========================== */
.header {
    background-color: #151515;
    padding: 20px 0 2gi0px;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
    display: flex;
    gap: 35px;
}
.menu__link {
    color: #fff;
}